@import "../../styles/animation";
@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.container {
  position: relative;
}

.label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
}

.label-text {
  position: absolute;
  top: 7px;
  left: 0px;
  color: $black;
  font-weight: 300;
  user-select: none;
}

.input {
  flex: 1 1 auto;

  top: 0;
  left: 0;
  width: 100%;
  margin-top: 15px;
  padding: 15px 15px;

  background: $white;
  color: $black;
  font-size: 12px;
  font-weight: 700;

  outline: none;
  border: 1px solid $white;
  border-bottom: 1px solid $grey;

  transition: border-bottom linear $regular-delay,
              background linear $regular-delay,
              color linear $regular-delay;

  &:focus, &:hover {
    border-bottom: 1px solid $green;
  }

  &:active {
    border-bottom: 1px solid $green;
  }
}

.input[type="submit"] {
  background: $green;
  color: $white;

  &:hover {
    background: color-mod($green l(50%));
    color: $white;
  }

  &:active {
    background: color-mod($green l(40%));
    color: $white;
  }
}