@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.container {
  border: 1px solid $green;
  background: $white;
  color: $black;

  height: 300px;

  transition: background linear 300ms;

  &:hover {
    background: color-mod($green tint(50%));
  }
}

.header {
  height: 60%;
}

.body {
  height: 40%;
}

.image {
  height: 100%;
  width: 100%;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}