.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  opacity: 0;
  visibility: hidden;

  filter: blur(2px);

  transition: filter linear 250ms 250ms,
              opacity linear 250ms,
              visibility linear 250ms;

  will-change: filter, opacity, visibility;

  &.loaded {
    opacity: 1;
    visibility: visible;
    filter: blur(0px);
  }
}

.placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 2;

  opacity: 1;
  visibility: visible;

  transition: opacity linear 250ms,
              visibility linear 250ms;

  will-change: opacity, visibility;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}