@import "../../styles/animation.css";
@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.input {
  display: block;
  width: 100%;
  height: 27px;

  padding-left: 7px;

  font-size: 1.5em;

  outline: none;
  border: none;

  &::placeholder {
    color: color-mod($black tint(50%));
    opacity: 1;
  }

  &:hover {}
  &:focus {}
}