@import "../../../styles/animation";
@import "../../../styles/colors";
@import "../../../styles/fonts";

$offset: 7px;

.container {
  position: relative;

  font-family: $font;
  font-size: 12px;
  font-weight: 700;
}

.button {
  display: block;
  padding: 7px 15px;

  border: 1px solid $white;
  color: $black;
  cursor: pointer;

  transition: border-bottom linear $regular-delay;

  &:hover {
    border-bottom: 1px solid $grey;
  }
}

.container.active .button {
  border-bottom: 1px solid $black;
}

.dropdown {
  position: absolute;

  right: 0;
  top: calc(100% + $offset);
  width: 100px;

  visibility: hidden;
  opacity: 0;

  background: $white;
  text-align: right;

  transition: opacity linear $regular-delay,
              visibility linear $regular-delay;
}

.container.active .dropdown {
  visibility: visible;
  opacity: 1;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {}

.link {
  display: block;
  padding: 7px 15px;

  border: 1px solid $white;
  color: $black;

  transition: background linear $regular-delay,
              color linear $regular-delay;

  &:hover {
    background: $green;
    color: $white;
  }

  &.active {
    background: $black;
    color: $white;
  }
}


