@import "../../../styles/animation";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.container {
  font-family: $font;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0px;
  }
}

.link {
  display: block;
  padding: 7px 15px;

  color: $black;

  border-bottom: 1px solid $white;

  transition: border-bottom linear $regular-delay;

  &:hover {
    border-bottom: 1px solid $grey;
  }

  &.active {
    border-bottom: 1px solid $black;
  }
}