@import "../../styles/colors.css";
@import "../../styles/fonts.css";

/* height of the Navbar */
$height: 60px;

.container {
  height: $height;
}

.inner {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  height: $height;
  padding-right: 15px;
}

.left {
  flex: 1 1 auto;
}

.right {
  flex: 0 0 auto;
}

/*
  Disable user select on all links under navbar
*/
.container a {
  user-select: none;
}