.container {
  padding: 15px;
}

.body {
  margin-bottom: 15px;
}

.footer {

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-gap: 15px;

  list-style: none;
  margin: 0;
  padding: 0;

  transition: grid-template-columns 2s;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {

}