.container {
  padding: 15px;
}

.body {
  margin-bottom: 15px;
}

.footer {

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px 15px;

  list-style: none;
  margin: 0;
  padding: 0;

  transition: grid-template-columns linear 250ms;
}

.item {

}