@import "../../styles/animation";
@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.container {
  position: relative;
}

.label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;

  text-transform: capitalize;
}

.labelText {
  position: absolute;
  top: 7px;
  left: 0px;
  color: $black;
  font-weight: 300;
  user-select: none;
}

.select {
  flex: 1 1 auto;

  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  margin-top: 15px;

  background: $white;
  font-size: 12px;
  font-weight: 700;

  outline: none;
  border: 1px solid $white;
  border-bottom: 1px solid $grey;

  transition: border-bottom linear $regular-delay,
              background linear $regular-delay,
              color linear $regular-delay;

  &:focus, &:hover {
    border-bottom: 1px solid $green;
  }

  &:active {
    border-bottom: 1px solid $green;
  }
}